.*
!.gitignore
!.project
!.cproject
*~
*.swp
*.bak
build/
Debug/
Release/
ipch/
*.ncb
Thumbs.db
*.mode1v3
*.DS_Store
*.vspscc
*.user
*.sdf
*.filters
*.opensdf
*.suo
~$*.xls*
~$*.doc*
xcuserdata/
nbproject/
nbproject/private/
