<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IDNFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IDNKitSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9439961E1C0E8A9F00596FB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>945DB67E1AD8FC8800C13526</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>945DB6891AD8FC8800C13526</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94D2C8AB1C7651D400651394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94D2C8C41C76543500651394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94D2C9CF1C76557700651394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94D2CB321C76564000651394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
